In [50]:
import pymongo
import pandas as pd
from datetime import datetime

In [2]:
username="grkclouddev1"
password="cYXHfuPDrCyI8dDG"
MongoClientURL = f"mongodb+srv://{username}:{password}@artica-main-db.cdfdvkw.mongodb.net/?retryWrites=true&w=majority"
dbName="artica-main-db"

In [3]:
client = pymongo.MongoClient(MongoClientURL)
db = client[dbName]

In [34]:
orders = db['orders']

df=pd.read_excel('sitesListExample.xlsx')
ordersList = df.to_dict(orient='records')

In [43]:
# orders.delete_many(filter={})

In [23]:
# load meta data and fixed data
metaDataDf = pd.read_excel('centuryEnkaMetaData-standard.xlsx')
metaDataDf = metaDataDf.set_index('standardTag')
metaDataDf.head()

,description,dataTagId,unitId
standardTag,,,
PROSS1_INN_STEAM_PRSS1,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2
FURNC1_INN_FUELS_TOTZ1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11
PROSS1_INN_STEAM_TOTZ1,Process Inlet Totalized Steam,TOTAL_STEAM,11
FWTNK1_OUT_WATER_TEMP1,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7
PROSS1_INN_STEAM_TEMP1,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7

In [14]:
fixedDataDf = pd.read_excel('centuryEnkaConstantsData.xlsx')
fixedDataDf = fixedDataDf.set_index('standardTag')
fixedDataDf.head()

,description,value,unitId
standardTag,,,
DREFF1_MID_RLAVG_TIME1,Direct Efficiency Averaging Time Window,60.000,8
FURNC1_INN_FUELS_HGCV1,Gross calorific value of fuel in use,3898.000,10
FURNC1_INN_FUELS_HNCV1,Net calorific value of fuel in use,3620.000,10
SCOMB1_MID_FUELS_COFW1,Fuel profile constant term,1.002,1
SCOMB1_MID_FUELS_COFW2,Fuel profile coefficient of exponential term,0.981,1

In [62]:
ordersList[2].update(
    {
        'metaData': metaDataDf.to_dict(orient='index'),
        'fixedData': fixedDataDf.to_dict(orient='index'),
        'dateCreated': datetime.now().isoformat()
    }
)

ordersList[2]['dateCreated']

'2023-03-17T08:43:03.982614'

In [69]:
ORDER_DEFAULT_KEYS = ['orderId', 'dateModified', 'site', 'unit', 'timeZone', 'metaData', 'fixedData']
{key:ordersList[0][key] for key in ORDER_DEFAULT_KEYS if key in ordersList[0]}

{'orderId': 1, 'site': 'AVT Natural Tiptur', 'timeZone': 'Asia/Kolkata'}

In [63]:
# Now we can UPSERT the new order into orders collections.

orderData = ordersList[2]
insertResult = orders.replace_one({'orderId': orderData['orderId']}, orderData, upsert=True)

In [66]:
insertResult.modified_count

1

In [65]:
result = orders.find()
pd.DataFrame([x for x in result])

,_id,orderId,site,Unit,timeZone,dateCreated,metaData,fixedData
0,6414261c4061100dcac5a234,3,CenturyEnka Bhosari,CPRG160,Asia/Kolkata,2023-03-17T08:43:03.982614,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...,{'DREFF1_MID_RLAVG_TIME1': {'description': 'Di...

In [5]:
totalSecondsInMonth = 60*60*24*30
totalTags = 25
sizeOfEachValue = 8 # bytes

{
    'totalRecords': totalSecondsInMonth,
    'size (GB)': totalSecondsInMonth*totalTags*sizeOfEachValue/(1024*1024*1024)
}

{'totalRecords': 2592000, 'size (GB)': 0.48279762268066406}

In [15]:
db.create_collection(
    'data',
    timeseries={
        'timeField': 't',
    },
    expireAfterSeconds=60*60*24*30
)

Collection(Database(MongoClient(host=['ac-zc4fbew-shard-00-01.cdfdvkw.mongodb.net:27017', 'ac-zc4fbew-shard-00-02.cdfdvkw.mongodb.net:27017', 'ac-zc4fbew-shard-00-00.cdfdvkw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hl4bjo-shard-0', tls=True), 'artica-main-db'), 'data1')

In [20]:
pd.DataFrame([x for x in db.list_collection_names()])

                      0
0                orders
1                 data1
2  system.buckets.data1