In [1]:
import pymongo
import pandas as pd
from datetime import datetime

In [2]:
username="grkclouddev1"
password="cYXHfuPDrCyI8dDG"
dbName="artica-main-db"
MongoClientURL = f"mongodb+srv://{username}:{password}@artica-main-db.cdfdvkw.mongodb.net/?retryWrites=true&w=majority"

In [3]:
client = pymongo.MongoClient(MongoClientURL)
db = client[dbName]
orders = db['orders']

In [34]:
df = pd.read_excel('sitesListExample.xlsx')
ordersList = df.to_dict(orient='records')

In [43]:
# orders.delete_many(filter={})

In [23]:
# load meta data and fixed data
metaDataDf = pd.read_excel('centuryEnkaMetaData-standard.xlsx')
metaDataDf = metaDataDf.set_index('standardTag')
metaDataDf.head()

,description,dataTagId,unitId
standardTag,,,
PROSS1_INN_STEAM_PRSS1,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2
FURNC1_INN_FUELS_TOTZ1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11
PROSS1_INN_STEAM_TOTZ1,Process Inlet Totalized Steam,TOTAL_STEAM,11
FWTNK1_OUT_WATER_TEMP1,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7
PROSS1_INN_STEAM_TEMP1,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7

In [14]:
fixedDataDf = pd.read_excel('centuryEnkaConstantsData.xlsx')
fixedDataDf = fixedDataDf.set_index('standardTag')
fixedDataDf.head()

,description,value,unitId
standardTag,,,
DREFF1_MID_RLAVG_TIME1,Direct Efficiency Averaging Time Window,60.000,8
FURNC1_INN_FUELS_HGCV1,Gross calorific value of fuel in use,3898.000,10
FURNC1_INN_FUELS_HNCV1,Net calorific value of fuel in use,3620.000,10
SCOMB1_MID_FUELS_COFW1,Fuel profile constant term,1.002,1
SCOMB1_MID_FUELS_COFW2,Fuel profile coefficient of exponential term,0.981,1

In [62]:
ordersList[2].update(
    {
        'metaData': metaDataDf.to_dict(orient='index'),
        'fixedData': fixedDataDf.to_dict(orient='index'),
        'dateCreated': datetime.now().isoformat()
    }
)

ordersList[2]['dateCreated']

'2023-03-17T08:43:03.982614'

In [69]:
ORDER_DEFAULT_KEYS = ['orderId', 'dateModified', 'site', 'unit', 'timeZone', 'metaData', 'fixedData']
{key:ordersList[0][key] for key in ORDER_DEFAULT_KEYS if key in ordersList[0]}

{'orderId': 1, 'site': 'AVT Natural Tiptur', 'timeZone': 'Asia/Kolkata'}

In [63]:
# # Now we can UPSERT the new order into orders collections.

# orderData = ordersList[2]
# insertResult = orders.replace_one({'orderId': orderData['orderId']}, orderData, upsert=True)

# check if upsert was successful or not
# insertResult.modified_count

In [9]:
result = orders.find({'orderId':3})
resultList = [x for x in result]

In [17]:
data = resultList[0]

{'timeZone': 'Asia/Kolkata',
 'metaData': {'PROSS1_INN_STEAM_PRSS1': {'description': 'Process Inlet Steam Pressure',
   'dataTagId': 'PT2_7_SCALE_PV',
   'unitId': 2},
  'FURNC1_INN_FUELS_TOTZ1': {'description': 'Furnace Inlet Totalized Fuel',
   'dataTagId': 'TOTALISE_FUEL_FLOW',
   'unitId': 11},
  'PROSS1_INN_STEAM_TOTZ1': {'description': 'Process Inlet Totalized Steam',
   'dataTagId': 'TOTAL_STEAM',
   'unitId': 11},
  'FWTNK1_OUT_WATER_TEMP1': {'description': 'Process Outlet/Make up Water Temperature',
   'dataTagId': 'TE1_5_SCALE_PV',
   'unitId': 7},
  'PROSS1_INN_STEAM_TEMP1': {'description': 'Process Inlet Exit Steam Temperature',
   'dataTagId': 'TE2_8_SCALE_PV',
   'unitId': 7},
  'CTRLX1_MID_XXXXX_LOAD1': {'description': 'System Load',
   'dataTagId': 'BOILER_LOAD',
   'unitId': 1},
  'BOILR1_INN_WATER_FLOW1': {'description': 'Feed water to boiler -- mass flow rate',
   'dataTagId': 'FEED_WATER_FLOW',
   'unitId': 3},
  'BOILR1_INN_WATER_TEMP1': {'description': 'Feed water to boiler -- temperature',
   'dataTagId': 'TE1_5_SCALE_PV',
   'unitId': 7},
  'BOILR1_MID_DRUMX_PRSS1': {'description': 'Boiler tank pressure',
   'dataTagId': 'PT2_7_SCALE_PV',
   'unitId': 2},
  'BOILR1_OUT_STEAM_FLOW1': {'description': 'Boiler drum steam-out mass flow rate',
   'dataTagId': 'FT2_14A_SCALE_PV',
   'unitId': 3},
  'BOILR1_MID_DRUMX_LEVL1': {'description': 'Boiler drum level transmitter output',
   'dataTagId': 'LT2_4_SCALE_PV',
   'unitId': 1}},
 'fixedData': {'DREFF1_MID_RLAVG_TIME1': {'description': 'Direct Efficiency Averaging Time Window',
   'value': 60.0,
   'unitId': 8},
  'FURNC1_INN_FUELS_HGCV1': {'description': 'Gross calorific value of fuel in use',
   'value': 3898.0,
   'unitId': 10},
  'FURNC1_INN_FUELS_HNCV1': {'description': 'Net calorific value of fuel in use',
   'value': 3620.0,
   'unitId': 10},
  'SCOMB1_MID_FUELS_COFW1': {'description': 'Fuel profile constant term',
   'value': 1.002,
   'unitId': 1},
  'SCOMB1_MID_FUELS_COFW2': {'description': 'Fuel profile coefficient of exponential term',
   'value': 0.981,
   'unitId': 1},
  'SCOMB1_MID_FUELS_COFW3': {'description': 'Fuel profile coefficient of timestep',
   'value': 0.00121,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW4': {'description': 'Heat Transfer Efficiency',
   'value': 0.833,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW5': {'description': 'Coefficiency W5 - Load vs X_F',
   'value': 0.416,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW6': {'description': 'Coefficiency W6 - Load vs X_F',
   'value': 0.105,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW7': {'description': 'Coefficiency W7 - Load vs X_F',
   'value': 0.053,
   'unitId': 1},
  'HYDRO1_MID_METAL_SPHT1': {'description': 'Specific heat of metal--carbon-steel',
   'value': 490.0,
   'unitId': 1},
  'HYDRO1_MID_RISER_VOLM1': {'description': 'Volume of riser + MPA',
   'value': 3.15216983192838,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_VOLM1': {'description': 'Volume of downcomer',
   'value': 0.3268,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_AREA1': {'description': 'Area of downcomer cross section',
   'value': 0.03228261937823305,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_IRAD1': {'description': 'inner radius of drum',
   'value': 1.059,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_ORAD1': {'description': 'inner length of drum',
   'value': 5.434,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_MASS1': {'description': 'mass of metal part of drum',
   'value': 13248.0,
   'unitId': 1},
  'HYDRO1_MID_FTUBE_ORAD1': {'description': 'outer radius of fire-tubes inside drum',
   'value': 0.0381,
   'unitId': 1},
  'HYDRO1_MID_FTUBE_NMBR1': {'description': 'Number of fire-tubes inside drum',
   'value': 194.0,
   'unitId': 1},
  'HYDRO1_MID_WATER_TNSN1': {'description': 'Surface tension of water',
   'value': 0.065,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_LCSW1': {'description': 'Distance of boiler drum LC switch bore from drum center-line',
   'value': 0.405,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_LCSW2': {'description': 'Distance between boiler drum LC switch bores',
   'value': 0.216,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_CFRN1': {'description': 'dimensionless friction coefficienct Eq 16@Astrom-Bell-1998',
   'value': 2333.80775,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_TSTP1': {'description': 'Time Step for predictions - hydro model [seconds]',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW8': {'description': 'k_dc vs alpha_r quadratic constant',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW9': {'description': 'k_dc vs alpha_r quadratic coefficient of linear term',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW0': {'description': 'k_dc vs alpha_r quadratic coefficient',
   'value': 1.0,
   'unitId': 1}}}

In [5]:
totalSecondsInMonth = 60*60*24*30
totalTags = 25
sizeOfEachValue = 8 # bytes

{
    'totalRecords': totalSecondsInMonth,
    'size (GB)': totalSecondsInMonth*totalTags*sizeOfEachValue/(1024*1024*1024)
}

{'totalRecords': 2592000, 'size (GB)': 0.48279762268066406}

In [15]:
db.create_collection(
    'data',
    timeseries={
        'timeField': 't',
        'metaField': 'metadata'
    },
    expireAfterSeconds=60*60*24*30
)

Collection(Database(MongoClient(host=['ac-zc4fbew-shard-00-01.cdfdvkw.mongodb.net:27017', 'ac-zc4fbew-shard-00-02.cdfdvkw.mongodb.net:27017', 'ac-zc4fbew-shard-00-00.cdfdvkw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-hl4bjo-shard-0', tls=True), 'artica-main-db'), 'data1')

In [4]:
pd.DataFrame([x for x in db.list_collection_names()])

                      0
0                orders
1                 data1
2  system.buckets.data1