In [20]:
import pymongo
import pandas as pd
from datetime import datetime

In [21]:
username="grkclouddev1"
password="cYXHfuPDrCyI8dDG"
dbName="artica-main-db"
MongoClientURL = f"mongodb+srv://{username}:{password}@artica-main-db.cdfdvkw.mongodb.net/?retryWrites=true&w=majority"

In [22]:
# print(MongoClientURL)

In [23]:
client = pymongo.MongoClient(MongoClientURL)
db = client[dbName]
orders = db['orders']
ucrTable = db['unitConversionReference']

In [16]:
df = pd.read_excel('sitesListExample.xlsx')
ordersList = df.to_dict(orient='records')

In [8]:
# orders.delete_many(filter={})

In [17]:
# load meta data and fixed data
metaDataDf = pd.read_excel('centuryEnkaMetaData-standard.xlsx')
metaDataDf = metaDataDf.set_index('standardTag')
metaDataDf.head()

,description,dataTagId,unitId
standardTag,,,
PROSS1_INN_STEAM_PRSS1,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2
FURNC1_INN_FUELS_TOTZ1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11
PROSS1_INN_STEAM_TOTZ1,Process Inlet Totalized Steam,TOTAL_STEAM,11
FWTNK1_OUT_WATER_TEMP1,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7
PROSS1_INN_STEAM_TEMP1,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7

In [10]:
fixedDataDf = pd.read_excel('centuryEnkaConstantsData.xlsx')
fixedDataDf = fixedDataDf.set_index('standardTag')
fixedDataDf.head()

,description,value,unitId
standardTag,,,
DREFF1_MID_RLAVG_TIME1,Direct Efficiency Averaging Time Window,60.000,8
FURNC1_INN_FUELS_HGCV1,Gross calorific value of fuel in use,3898.000,10
FURNC1_INN_FUELS_HNCV1,Net calorific value of fuel in use,3620.000,10
SCOMB1_MID_FUELS_COFW1,Fuel profile constant term,1.002,1
SCOMB1_MID_FUELS_COFW2,Fuel profile coefficient of exponential term,0.981,1

In [12]:
ordersList[2].update(
    {
        'metaData': metaDataDf.to_dict(orient='index'),
        'fixedData': fixedDataDf.to_dict(orient='index'),
        'dateCreated': datetime.now().isoformat()
    }
)

ordersList[2]['dateCreated']

'2023-03-21T10:00:11.645159'

In [15]:
import json

fp = open('onboard-century-payload.json', 'w')
json.dump(ordersList[2], fp)
fp.close()

In [69]:
ORDER_DEFAULT_KEYS = ['orderId', 'dateModified', 'site', 'unit', 'timeZone', 'metaData', 'fixedData']
{key:ordersList[0][key] for key in ORDER_DEFAULT_KEYS if key in ordersList[0]}

{'orderId': 1, 'site': 'AVT Natural Tiptur', 'timeZone': 'Asia/Kolkata'}

In [63]:
# # Now we can UPSERT the new order into orders collections.

# orderData = ordersList[2]
# insertResult = orders.replace_one({'orderId': orderData['orderId']}, orderData, upsert=True)

# check if upsert was successful or not
# insertResult.modified_count

In [ ]:
ucrDf = pd.read_csv('unitConversionReference.csv')
ucrData = ucrDf.to_dict(orient='records')

insertResult = ucrTable.insert_many(ucrData)

In [8]:
insertResult.inserted_ids

[ObjectId('6417767881c3d098d7f2ca05'),
 ObjectId('6417767881c3d098d7f2ca06'),
 ObjectId('6417767881c3d098d7f2ca07'),
 ObjectId('6417767881c3d098d7f2ca08'),
 ObjectId('6417767881c3d098d7f2ca09'),
 ObjectId('6417767881c3d098d7f2ca0a'),
 ObjectId('6417767881c3d098d7f2ca0b'),
 ObjectId('6417767881c3d098d7f2ca0c'),
 ObjectId('6417767881c3d098d7f2ca0d'),
 ObjectId('6417767881c3d098d7f2ca0e'),
 ObjectId('6417767881c3d098d7f2ca0f')]

In [10]:
result = orders.find({'orderId':3}, ['timeZone', 'metaData'])
pd.DataFrame([x for x in result])

,_id,timeZone,metaData
0,6414261c4061100dcac5a234,Asia/Kolkata,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...

In [24]:
result = ucrTable.find({}, ['unitId','factor', 'bias'])
# pd.DataFrame([x for x in result])
ucrList = [x for x in result]

In [25]:
ucr_result = {rec['unitId']:{'factor': rec['factor'], 'bias': rec['bias']} for rec in ucrList}
ucr_result

{1: {'factor': 1.0, 'bias': 0.0},
 2: {'factor': 98066.5, 'bias': 0.0},
 3: {'factor': 0.000278, 'bias': 0.0},
 4: {'factor': 6894.76, 'bias': 0.0},
 5: {'factor': 98066.5, 'bias': 101325.0},
 6: {'factor': -1.0, 'bias': 100.0},
 7: {'factor': 1.0, 'bias': 273.15},
 8: {'factor': 60.0, 'bias': 0.0},
 9: {'factor': 3600.0, 'bias': 0.0},
 10: {'factor': 4184.0, 'bias': 0.0},
 11: {'factor': 1000.0, 'bias': 0.0}}

In [28]:
ucr_result[2] #

{'factor': 98066.5, 'bias': 0.0}

In [4]:
pd.DataFrame([x for x in db.list_collection_names()])

                      0
0                orders
1                 data1
2  system.buckets.data1