In [1]:
# test onboarding
import requests
APP_URL = "https://artica-main.onrender.com"
response = requests.get(APP_URL+'/onboarding')
response.json()

{'message': 'This endpoint is for onboarding new unit',
 'documentation': 'Method for new onboarding: POST\nExample payload is mentioned in the schema',
 'schema': {'orderId': 1,
  'site': '',
  'unit': '',
  'timeZone': '',
  'metaData': [{'standardTag': 'XXXXX1_XXX_XXXXX_XXXX1',
    'description': '',
    'dataTagId': '',
    'unitId': 1},
   {'standardTag': 'XXXXX1_XXX_XXXXX_XXXX2',
    'description': '',
    'dataTagId': '',
    'unitId': 1}],
  'fixedData': [{'standardTag': 'XXXXX2_XXX_XXXXX_XXXX1',
    'description': '',
    'value': 0.0,
    'unitId': 1},
   {'standardTag': 'XXXXX2_XXX_XXXXX_XXXX2',
    'description': '',
    'value': 0.0,
    'unitId': 1}]}}

In [2]:
import json

fp = open('../resources/onboardTool/onboard-century-payload.json', 'r')
onboardCenturyPayload = json.load(fp)
fp.close()

In [3]:
onboardCenturyPayload

{'orderId': 1,
 'site': 'CenturyEnka Bhosari',
 'Unit': 'CPRG160',
 'timeZone': 'Asia/Kolkata',
 'metaData': {'PROSS1_INN_STEAM_PRSS1': {'description': 'Process Inlet Steam Pressure',
   'dataTagId': 'PT2_7_SCALE_PV',
   'unitId': 2},
  'FURNC1_INN_FUELS_TOTZ1': {'description': 'Furnace Inlet Totalized Fuel',
   'dataTagId': 'TOTALISE_FUEL_FLOW',
   'unitId': 11},
  'PROSS1_INN_STEAM_TOTZ1': {'description': 'Process Inlet Totalized Steam',
   'dataTagId': 'TOTAL_STEAM',
   'unitId': 11},
  'FWTNK1_OUT_WATER_TEMP1': {'description': 'Process Outlet/Make up Water Temperature',
   'dataTagId': 'TE1_5_SCALE_PV',
   'unitId': 7},
  'PROSS1_INN_STEAM_TEMP1': {'description': 'Process Inlet Exit Steam Temperature',
   'dataTagId': 'TE2_8_SCALE_PV',
   'unitId': 7},
  'CTRLX1_MID_XXXXX_LOAD1': {'description': 'System Load',
   'dataTagId': 'BOILER_LOAD',
   'unitId': 1},
  'BOILR1_INN_WATER_FLOW1': {'description': 'Feed water to boiler -- mass flow rate',
   'dataTagId': 'FEED_WATER_FLOW',
   'unitId': 3},
  'BOILR1_INN_WATER_TEMP1': {'description': 'Feed water to boiler -- temperature',
   'dataTagId': 'TE1_5_SCALE_PV',
   'unitId': 7},
  'BOILR1_MID_DRUMX_PRSS1': {'description': 'Boiler tank pressure',
   'dataTagId': 'PT2_7_SCALE_PV',
   'unitId': 2},
  'BOILR1_OUT_STEAM_FLOW1': {'description': 'Boiler drum steam-out mass flow rate',
   'dataTagId': 'FT2_14A_SCALE_PV',
   'unitId': 3},
  'BOILR1_MID_DRUMX_LEVL1': {'description': 'Boiler drum level transmitter output',
   'dataTagId': 'LT2_4_SCALE_PV',
   'unitId': 1}},
 'fixedData': {'DREFF1_MID_RLAVG_TIME1': {'description': 'Direct Efficiency Averaging Time Window',
   'value': 60.0,
   'unitId': 8},
  'FURNC1_INN_FUELS_HGCV1': {'description': 'Gross calorific value of fuel in use',
   'value': 3898.0,
   'unitId': 10},
  'FURNC1_INN_FUELS_HNCV1': {'description': 'Net calorific value of fuel in use',
   'value': 3620.0,
   'unitId': 10},
  'SCOMB1_MID_FUELS_COFW1': {'description': 'Fuel profile constant term',
   'value': 1.002,
   'unitId': 1},
  'SCOMB1_MID_FUELS_COFW2': {'description': 'Fuel profile coefficient of exponential term',
   'value': 0.981,
   'unitId': 1},
  'SCOMB1_MID_FUELS_COFW3': {'description': 'Fuel profile coefficient of timestep',
   'value': 0.00121,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW4': {'description': 'Heat Transfer Efficiency',
   'value': 0.833,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW5': {'description': 'Coefficiency W5 - Load vs X_F',
   'value': 0.416,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW6': {'description': 'Coefficiency W6 - Load vs X_F',
   'value': 0.105,
   'unitId': 1},
  'HEATX1_MID_XXXXX_COFW7': {'description': 'Coefficiency W7 - Load vs X_F',
   'value': 0.053,
   'unitId': 1},
  'HYDRO1_MID_METAL_SPHT1': {'description': 'Specific heat of metal--carbon-steel',
   'value': 490.0,
   'unitId': 1},
  'HYDRO1_MID_RISER_VOLM1': {'description': 'Volume of riser + MPA',
   'value': 3.15216983192838,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_VOLM1': {'description': 'Volume of downcomer',
   'value': 0.3268,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_AREA1': {'description': 'Area of downcomer cross section',
   'value': 0.03228261937823305,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_IRAD1': {'description': 'inner radius of drum',
   'value': 1.059,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_ORAD1': {'description': 'inner length of drum',
   'value': 5.434,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_MASS1': {'description': 'mass of metal part of drum',
   'value': 13248.0,
   'unitId': 1},
  'HYDRO1_MID_FTUBE_ORAD1': {'description': 'outer radius of fire-tubes inside drum',
   'value': 0.0381,
   'unitId': 1},
  'HYDRO1_MID_FTUBE_NMBR1': {'description': 'Number of fire-tubes inside drum',
   'value': 194.0,
   'unitId': 1},
  'HYDRO1_MID_WATER_TNSN1': {'description': 'Surface tension of water',
   'value': 0.065,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_LCSW1': {'description': 'Distance of boiler drum LC switch bore from drum center-line',
   'value': 0.405,
   'unitId': 1},
  'HYDRO1_MID_SDRUM_LCSW2': {'description': 'Distance between boiler drum LC switch bores',
   'value': 0.216,
   'unitId': 1},
  'HYDRO1_MID_DNCMR_CFRN1': {'description': 'dimensionless friction coefficienct Eq 16@Astrom-Bell-1998',
   'value': 2333.80775,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_TSTP1': {'description': 'Time Step for predictions - hydro model [seconds]',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW8': {'description': 'k_dc vs alpha_r quadratic constant',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW9': {'description': 'k_dc vs alpha_r quadratic coefficient of linear term',
   'value': 1.0,
   'unitId': 1},
  'HYDRO1_MID_XXXXX_COFW0': {'description': 'k_dc vs alpha_r quadratic coefficient',
   'value': 1.0,
   'unitId': 1}}}

In [4]:
import pandas as pd
pd.DataFrame({key:[onboardCenturyPayload[key]] for key in onboardCenturyPayload})

,orderId,site,Unit,timeZone,metaData,fixedData
0,1,CenturyEnka Bhosari,CPRG160,Asia/Kolkata,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...,{'DREFF1_MID_RLAVG_TIME1': {'description': 'Di...

In [5]:
# add new order
response = requests.post(url=APP_URL+'/onboarding', json=onboardCenturyPayload)
response.json()

{'log': '', 'status': True}

In [6]:
# connect to mongoDB
import pymongo

MGD_NAME = 'artica-main-db'
MGD_ADDR = 'mongodb+srv://grkclouddev1:cYXHfuPDrCyI8dDG@artica-main-db.cdfdvkw.mongodb.net/?retryWrites=true&w=majority'

client = pymongo.MongoClient(MGD_ADDR)
db = client[MGD_NAME]
orders = db['orders']

In [10]:
# check out orders table
import pandas as pd
queryCurser = orders.find({})
result = [x for x in queryCurser]
pd.DataFrame(result)

,_id,orderId,site,timeZone,metaData,fixedData,dateModified
0,6419830a4061100dca5493df,1,CenturyEnka Bhosari,Asia/Kolkata,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...,{'DREFF1_MID_RLAVG_TIME1': {'description': 'Di...,2023-03-21T10:22:33.053625

In [ ]:
# onboarding test successful bitches

In [14]:
# test ingestion
ingestionTags = [
    'PT2_7_SCALE_PV',
    'TOTALISE_FUEL_FLOW',
    'TOTAL_STEAM',
    'TE1_5_SCALE_PV',
    'TE2_8_SCALE_PV',
    'BOILER_LOAD',
    'FEED_WATER_FLOW',
    'TE1_5_SCALE_PV',
    'PT2_7_SCALE_PV',
    'FT2_14A_SCALE_PV',
    'LT2_4_SCALE_PV'
]

dataDf = pd.read_excel('DATA_CEN1_(2023-03-21-09-41--2023-03-21-10-41).xlsx')
dataDf.head()

,time,CEN1_PT2_7_SCALE_PV,CEN1_TOTALISE_FUEL_FLOW,CEN1_TOTAL_STEAM,CEN1_TE1_5_SCALE_PV,CEN1_TE2_8_SCALE_PV,CEN1_BOILER_LOAD,CEN1_FEED_WATER_FLOW,CEN1_FT2_14A_SCALE_PV,CEN1_LT2_4_SCALE_PV
0,45006.632639,13.06,47761.54,426497.50,101.6,208.4,99.0,6584.20,8433.33,63.66
1,45006.633333,13.30,47761.58,426497.62,101.4,208.7,100.0,9140.77,8244.44,62.79
2,45006.634028,13.22,47761.62,426497.78,101.7,209.8,100.0,29.66,10511.11,67.16
3,45006.634722,13.36,47761.67,426497.97,101.4,210.3,100.0,29.66,10733.33,64.64
4,45006.635417,13.57,47761.70,426498.16,101.4,209.5,82.0,7859.52,10477.78,60.59

In [23]:
response = requests.get(APP_URL+'/ingestion')
response.json()

{'message': 'This endpoint is for storing data',
 'documentation': 'Method for sending data: POST\nExample payload is mentioned in the schema',
 'schema': {'orderId': 0, 'key1': 'value1', 'key2': 'value2'}}

In [39]:
import time

for index, record in dataDf.iterrows():
    payload = {
        'orderId':1,
    }
    for tag in ingestionTags:
        payload.update(
            {
                tag: record['CEN1_' + tag]
            }
        )
    response = requests.post(APP_URL+'/ingestion', json=payload)
    try:
        print(response.json())
    except:
        print(response.text)
    
    break
    time.sleep(60)

{'log': 'Traceback (most recent call last):\n  File "/app/resources/ingest/__init__.py", line 28, in write\n    factor = unitConversionReference[unitId][\'factor\']\nKeyError: 2\n', 'status': False}

In [40]:
print(response.json()['log'])

Traceback (most recent call last):
  File "/app/resources/ingest/__init__.py", line 28, in write
    factor = unitConversionReference[unitId]['factor']
KeyError: 2