In [33]:
# test onboarding
import requests
APP_URL = "https://artica-main.onrender.com"
response = requests.get(APP_URL+'/onboarding')
response.json()

{'message': 'This endpoint is for onboarding new unit',
 'documentation': 'Method for new onboarding: POST\nExample payload is mentioned in the schema',
 'schema': {'orderId': 1,
  'site': '',
  'unit': '',
  'timeZone': '',
  'metaData': {'XXXXX1_XXX_XXXXX_XXXX1': {'description': 'some other important tag for other important shit',
    'dataTagId': '<tag using which data comes through from site>',
    'unitId': 2}},
  'fixedData': {'XXXXX2_XXX_XXXXX_XXXX1': {'description': 'some important tag for important shit',
    'value': 'value in unitID that customer/operator will set',
    'unitId': 7},
   'XXXXX2_XXX_XXXXX_XXXX2': {'description': 'some other important tag for other important shit',
    'value': 'value in unitID that customer/operator will set',
    'unitId': 2}}}}

In [34]:
response.headers

{'Date': 'Tue, 21 Mar 2023 12:53:03 GMT', 'Content-Type': 'application/json', 'Content-Length': '371', 'Connection': 'keep-alive', 'CF-Ray': '7ab655e55f7b28ad-AMS', 'Content-Encoding': 'gzip', 'Vary': 'Accept-Encoding', 'CF-Cache-Status': 'DYNAMIC', 'x-render-origin-server': 'Werkzeug/2.2.3 Python/3.10.10', 'Server': 'cloudflare', 'alt-svc': 'h3=":443"; ma=86400, h3-29=":443"; ma=86400'}

In [4]:
import json

fp = open('../resources/onboardTool/onboard-century-payload.json', 'r')
onboardCenturyPayload = json.load(fp)
fp.close()

In [5]:
import pandas as pd
pd.DataFrame({key:[onboardCenturyPayload[key]] for key in onboardCenturyPayload})

,orderId,site,Unit,timeZone,metaData,fixedData
0,1,CenturyEnka Bhosari,CPRG160,Asia/Kolkata,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...,{'DREFF1_MID_RLAVG_TIME1': {'description': 'Di...

In [6]:
# add new order
# response = requests.post(url=APP_URL+'/onboarding', json=onboardCenturyPayload)
# response.json()

In [39]:
# add other orders
df = pd.read_excel('sitesListExample.xlsx')
df_orders = df.to_dict(orient='records')
for record in df_orders:
    response = requests.post(url=APP_URL+'/onboarding', json=record)
    print(response.json())

{'log': '\nOrder details not updated.', 'status': False}
{'log': '\nOrder details not updated.', 'status': False}

In [7]:
# connect to mongoDB
import pymongo

MGD_NAME = 'artica-main-db'
MGD_ADDR = 'mongodb+srv://grkclouddev1:cYXHfuPDrCyI8dDG@artica-main-db.cdfdvkw.mongodb.net/?retryWrites=true&w=majority'

client = pymongo.MongoClient(MGD_ADDR)
db = client[MGD_NAME]
orders = db['orders']

In [40]:
# check out orders table
import pandas as pd
queryCurser = orders.find()
pd.DataFrame([x for x in queryCurser])

,_id,orderId,site,timeZone,metaData,fixedData,dateModified
0,6419830a4061100dca5493df,1,CenturyEnka Bhosari,Asia/Kolkata,{'PROSS1_INN_STEAM_PRSS1': {'description': 'Pr...,{'DREFF1_MID_RLAVG_TIME1': {'description': 'Di...,2023-03-21T10:22:33.053625
1,6419aa464061100dca8a822e,2,AVT Natural Tiptur,Asia/Kolkata,NaN,NaN,2023-03-21T12:59:50.028498
2,6419aa464061100dca8a82f8,3,AstecLifeSciences Mahad,Asia/Kolkata,NaN,NaN,2023-03-21T12:59:50.646312

In [24]:
queryCurser==None

True

In [ ]:
# onboarding test successful bitches

In [8]:
# test ingestion
ingestionTags = [
    'PT2_7_SCALE_PV',
    'TOTALISE_FUEL_FLOW',
    'TOTAL_STEAM',
    'TE1_5_SCALE_PV',
    'TE2_8_SCALE_PV',
    'BOILER_LOAD',
    'FEED_WATER_FLOW',
    'TE1_5_SCALE_PV',
    'PT2_7_SCALE_PV',
    'FT2_14A_SCALE_PV',
    'LT2_4_SCALE_PV'
]

dataDf = pd.read_excel('DATA_CEN1_(2023-03-21-09-41--2023-03-21-10-41).xlsx')
dataDf.head()

,time,CEN1_PT2_7_SCALE_PV,CEN1_TOTALISE_FUEL_FLOW,CEN1_TOTAL_STEAM,CEN1_TE1_5_SCALE_PV,CEN1_TE2_8_SCALE_PV,CEN1_BOILER_LOAD,CEN1_FEED_WATER_FLOW,CEN1_FT2_14A_SCALE_PV,CEN1_LT2_4_SCALE_PV
0,45006.632639,13.06,47761.54,426497.50,101.6,208.4,99.0,6584.20,8433.33,63.66
1,45006.633333,13.30,47761.58,426497.62,101.4,208.7,100.0,9140.77,8244.44,62.79
2,45006.634028,13.22,47761.62,426497.78,101.7,209.8,100.0,29.66,10511.11,67.16
3,45006.634722,13.36,47761.67,426497.97,101.4,210.3,100.0,29.66,10733.33,64.64
4,45006.635417,13.57,47761.70,426498.16,101.4,209.5,82.0,7859.52,10477.78,60.59

In [9]:
response = requests.get(APP_URL+'/ingestion')
response.json()

{'message': 'This endpoint is for storing data',
 'documentation': 'Method for sending data: POST\nExample payload is mentioned in the schema',
 'schema': {'orderId': 0, 'key1': 'value1', 'key2': 'value2'}}

In [35]:
import time

for index, record in dataDf.iterrows():
    payload = {
        'orderId':5,
    }
    for tag in ingestionTags:
        payload.update(
            {
                tag: record['CEN1_' + tag]
            }
        )
    response = requests.post(APP_URL+'/ingestion', json=payload)
    break
    # if (response.status_code > 200):
    #     print(response.text)
    #     break
    # else:
    #     time.sleep(60)

In [20]:
print(response.json()['log'])

Traceback (most recent call last):
  File "/app/resources/onboardTool/__init__.py", line 98, in getOrderDetails
    {key:insertResult[key] for key in keys}
  File "/app/resources/onboardTool/__init__.py", line 98, in <dictcomp>
    {key:insertResult[key] for key in keys}
TypeError: 'NoneType' object is not subscriptable