In [188]:
# Drop whatever is in the database 
from datetime import datetime
import pandas as pd

env_data = pd.read_csv('../.env')
ENV = {}
for row in env_data[env_data.columns[0]]:
    #key, value = 
    row_data = row.split('=')
    key = row_data[0]
    value = '='.join(row_data[1:])
    value = value.replace("'", "").replace('"', '')
    ENV.update({key: value})

from google.cloud.sql.connector import Connector
import sqlalchemy
import pymysql

# initialize Connector object
connector = Connector()

SELECTED_DB_NAME = "COMMON_DATA"
# function to return the database connection
def getconn() -> pymysql.connections.Connection:
    conn: pymysql.connections.Connection = connector.connect(
        ENV['INSTANCE_CONNECTION_NAME'],
        "pymysql",
        user=ENV['DB_USER'],
        password=ENV['DB_PASS'],
        db=SELECTED_DB_NAME
    )
    return conn

# create connection pool
pool = sqlalchemy.create_engine(
    "mysql+pymysql:///COMMON_DATA.db",
    creator=getconn,
    echo = True
)

show_dbs_statement = sqlalchemy.text('SHOW DATABASES;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 21:55:07,936 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-12 21:55:07,938 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 21:55:08,448 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-12 21:55:08,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 21:55:08,709 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-12 21:55:08,711 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 21:55:09,220 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 21:55:09,221 INFO sqlalchemy.engine.Engine SHOW DATABASES;
2023-03-12 21:55:09,222 INFO sqlalchemy.engine.Engine [generated in 0.00265s] {}
2023-03-12 21:55:09,479 INFO sqlalchemy.engine.Engine ROLLBACK

             Database
0                  1A
1         COMMON_DATA
2              ORDER1
3  information_schema
4               mysql
5  performance_schema
6                 sys

In [150]:
getOrderDetailsSQL = sqlalchemy.text(f'SELECT * FROM orders WHERE orderId={1};')
# listDataBasesSQL = sqlalchemy.text('SHOW DATABASES;')
# connect 
with pool.connect() as db_conn:
    # 
    result = db_conn.execute(getOrderDetailsSQL)
    resultData = result.fetchall()
    resultKeys = result.keys()
    if len(resultData):
        # log += f'\nOrder #{orderId} entry exists in orders list.'
        orderExists = True
        data = dict(zip(resultKeys, list(resultData[0])))
    else:
        data = {}
        orderExists = False
        # log += f'\nOrder #{orderId} entry does not exist in orders list.'

    # result = db_conn.execute(listDataBasesSQL)
    # resultData = result.fetchall()

2023-03-12 18:59:12,907 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 18:59:12,908 INFO sqlalchemy.engine.Engine SELECT * FROM orders WHERE orderId=1;
2023-03-12 18:59:12,908 INFO sqlalchemy.engine.Engine [cached since 104.4s ago] {}
2023-03-12 18:59:13,167 INFO sqlalchemy.engine.Engine ROLLBACK

In [151]:
data

{}

In [55]:
orderId = 1
orderDBName = f'ORDER{orderId}'
(orderDBName,) in data

True

In [ ]:
getOrderDetails = sqlalchemy.text(f'SELECT * FROM orders WHERE orderId={orderId};')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(getOrderDetails)
    resultData = result.fetchall()
    resultKeys = result.keys()
    if len(resultData):
        resultDict = dict(zip(resultKeys, list(resultData[0])))
    else:
        resultDict = {}

In [128]:
getOrderDetails = sqlalchemy.text(f'SELECT * FROM orders;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(getOrderDetails)
    resultData = result.fetchall()
    resultKeys = result.keys()
    resultDict = dict(zip(resultKeys, zip(*resultData)))
    
pd.DataFrame(resultDict)

2023-03-12 18:49:42,080 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 18:49:42,080 INFO sqlalchemy.engine.Engine SELECT * FROM orders;
2023-03-12 18:49:42,080 INFO sqlalchemy.engine.Engine [cached since 51.73s ago] {}
2023-03-12 18:49:42,336 INFO sqlalchemy.engine.Engine ROLLBACK

Empty DataFrame
Columns: []
Index: []

In [103]:
ORDER_DETAILS = ['site', 'unitCode', 'timeZone']

data = {
    'orderId': 1,
    'site': 'CENTURY ENKA BHOSARI',
    'unitCode': 'CPRG160/17.5/1001',
    'timeZone': 'Asia/Kolkata'
}

{key:data[key] for key in ORDER_DETAILS if key in data}

{'site': 'CENTURY ENKA BHOSARI',
 'unitCode': 'CPRG160/17.5/1001',
 'timeZone': 'Asia/Kolkata'}

In [10]:
insert_order = sqlalchemy.text(
    "INSERT INTO orders (orderId, site, unitCode, createDate, timeZone) VALUES (:orderId, :site, :unitCode, :createDate, :timeZone) ON DUPLICATE KEY UPDATE site=:site, unitCode=:unitCode, timeZone=:timeZone;",
)

orderdata = {
    'orderId': 2,
    'site': 'KNPL',
    'unitCode': 'VTRG',
    'timeZone': 'Asia/Kolkata',
    'createDate': datetime.utcnow()
}

with pool.connect() as db_conn:
    # insert into database
    db_conn.execute(insert_order, parameters=orderdata)
    db_conn.commit()

2023-03-12 12:38:33,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 12:38:33,537 INFO sqlalchemy.engine.Engine INSERT INTO orders (orderId, site, unitCode, createDate, timeZone) VALUES (%(orderId)s, %(site)s, %(unitCode)s, %(createDate)s, %(timeZone)s) ON DUPLICATE KEY UPDATE site=%(site)s, unitCode=%(unitCode)s, timeZone=%(timeZone)s;
2023-03-12 12:38:33,538 INFO sqlalchemy.engine.Engine [cached since 44.2s ago] {'orderId': 2, 'site': 'KNPL', 'unitCode': 'VTRG', 'createDate': datetime.datetime(2023, 3, 12, 7, 8, 33, 536968), 'timeZone': 'Asia/Kolkata'}
2023-03-12 12:38:33,897 INFO sqlalchemy.engine.Engine COMMIT

In [176]:
sql_statement = sqlalchemy.text('DELETE FROM orders')
with pool.connect() as db_conn:
    # insert into database
    db_conn.execute(sql_statement)
    db_conn.commit()

sql_statement = sqlalchemy.text('DROP DATABASE ORDER1;')
with pool.connect() as db_conn:
    # insert into database
    db_conn.execute(sql_statement)
    db_conn.commit()

2023-03-12 19:38:37,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:38:37,060 INFO sqlalchemy.engine.Engine DELETE FROM orders
2023-03-12 19:38:37,061 INFO sqlalchemy.engine.Engine [generated in 0.00256s] {}
2023-03-12 19:38:37,322 INFO sqlalchemy.engine.Engine COMMIT
2023-03-12 19:38:37,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:38:37,838 INFO sqlalchemy.engine.Engine DROP DATABASE ORDER1;
2023-03-12 19:38:37,839 INFO sqlalchemy.engine.Engine [generated in 0.00197s] {}
2023-03-12 19:38:38,156 INFO sqlalchemy.engine.Engine COMMIT

In [185]:
import requests
response = requests.get('https://testdockerflask-mucvbrxuxq-uc.a.run.app/onboarding')

responseDict = response.json()

In [132]:
responseDict['schema']

{'orderId': '',
 'site': '',
 'unitCode': '',
 'timeZone': '',
 'metaData': [{'standardTag': 'XXXXX1_XXX_XXXXX_XXXX1',
   'description': '',
   'dataTagId': '',
   'unitId': 1},
  {'standardTag': 'XXXXX1_XXX_XXXXX_XXXX2',
   'description': '',
   'dataTagId': '',
   'unitId': 1}],
 'fixedData': [{'standardTag': 'XXXXX2_XXX_XXXXX_XXXX1',
   'description': '',
   'value': 0.0,
   'unitId': 1},
  {'standardTag': 'XXXXX2_XXX_XXXXX_XXXX2',
   'description': '',
   'value': 0.0,
   'unitId': 1}]}

In [133]:
metaDataDF = pd.read_excel('centuryEnkaMetaData-standard.xlsx')
metaDataDF.head()

,description,dataTagId,unitId,standardTag
0,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2,PROSS1_INN_STEAM_PRSS1
1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11,FURNC1_INN_FUELS_TOTZ1
2,Process Inlet Totalized Steam,TOTAL_STEAM,11,PROSS1_INN_STEAM_TOTZ1
3,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7,FWTNK1_OUT_WATER_TEMP1
4,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7,PROSS1_INN_STEAM_TEMP1

In [134]:
metaData = metaDataDF.to_dict(orient='records')

In [135]:
fixedDataDF = pd.read_excel('centuryEnkaConstantsData.xlsx')
fixedDataDF.head()

,description,standardTag,value,unitId
0,Direct Efficiency Averaging Time Window,DREFF1_MID_RLAVG_TIME1,60.000,8
1,Gross calorific value of fuel in use,FURNC1_INN_FUELS_HGCV1,3898.000,10
2,Net calorific value of fuel in use,FURNC1_INN_FUELS_HNCV1,3620.000,10
3,Fuel profile constant term,SCOMB1_MID_FUELS_COFW1,1.002,1
4,Fuel profile coefficient of exponential term,SCOMB1_MID_FUELS_COFW2,0.981,1

In [136]:
fixedData = fixedDataDF.to_dict(orient='records')

In [137]:
orderPayload = {
    'orderId': 1,
    'site': 'CENTURY ENKA BHOSARI',
    'unitCode': 'CPRG160/17.5/1001',
    'timeZone': 'Asia/Kolkata',
    'metaData' : metaData,
    'fixedData' : fixedData,
}

# orderPayload

In [138]:
META_TABLE_COLUMNS = ['standardTag', 'description', 'dataTagId', 'unitId']
metaTableRecords = [{key: record[key] for key in META_TABLE_COLUMNS} for record in metaData]

pd.DataFrame(metaTableRecords)

,standardTag,description,dataTagId,unitId
0,PROSS1_INN_STEAM_PRSS1,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2
1,FURNC1_INN_FUELS_TOTZ1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11
2,PROSS1_INN_STEAM_TOTZ1,Process Inlet Totalized Steam,TOTAL_STEAM,11
3,FWTNK1_OUT_WATER_TEMP1,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7
4,PROSS1_INN_STEAM_TEMP1,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7
5,CTRLX1_MID_XXXXX_LOAD1,System Load,BOILER_LOAD,1
6,BOILR1_INN_WATER_FLOW1,Feed water to boiler -- mass flow rate,FEED_WATER_FLOW,3
7,BOILR1_INN_WATER_TEMP1,Feed water to boiler -- temperature,TE1_5_SCALE_PV,7
8,BOILR1_MID_DRUMX_PRSS1,Boiler tank pressure,PT2_7_SCALE_PV,2
9,BOILR1_OUT_STEAM_FLOW1,Boiler drum steam-out mass flow rate,FT2_14A_SCALE_PV,3
10,BOILR1_MID_DRUMX_LEVL1,Boiler drum level transmitter output,LT2_4_SCALE_PV,1

In [187]:
import requests
response = requests.post('https://testdockerflask-mucvbrxuxq-uc.a.run.app/onboarding', json=orderPayload)
responseDict = response.json()

print(responseDict['log'])

Order #1 entry pre-exists in the orders list.
Database ORDER1 already exists.
Order details have been altered as per request
Table found: META_DATA.
Table found: FIXED_DATA.

In [178]:
show_dbs_statement = sqlalchemy.text('SELECT * FROM orders;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 19:39:01,385 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:39:01,386 INFO sqlalchemy.engine.Engine SELECT * FROM orders;
2023-03-12 19:39:01,387 INFO sqlalchemy.engine.Engine [generated in 0.00165s] {}
2023-03-12 19:39:01,643 INFO sqlalchemy.engine.Engine ROLLBACK

,orderId,site,unitCode,createDate,timeZone
0,1,CENTURY ENKA BHOSARI,CPRG160/17.5/1001,2023-03-12 14:08:55,Asia/Kolkata

In [189]:
connector = Connector()

SELECTED_DB_NAME = "ORDER1"
# function to return the database connection
def getconn() -> pymysql.connections.Connection:
    conn: pymysql.connections.Connection = connector.connect(
        ENV['INSTANCE_CONNECTION_NAME'],
        "pymysql",
        user=ENV['DB_USER'],
        password=ENV['DB_PASS'],
        db=SELECTED_DB_NAME
    )
    return conn

# create connection pool
pool = sqlalchemy.create_engine(
    "mysql+pymysql:///ORDER1.db",
    creator=getconn,
    echo = True
)

show_dbs_statement = sqlalchemy.text('SHOW DATABASES;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 22:23:50,416 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-12 22:23:50,416 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 22:23:50,943 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-12 22:23:50,944 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 22:23:51,201 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-12 22:23:51,203 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 22:23:51,720 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 22:23:51,721 INFO sqlalchemy.engine.Engine SHOW DATABASES;
2023-03-12 22:23:51,722 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {}
2023-03-12 22:23:51,977 INFO sqlalchemy.engine.Engine ROLLBACK

             Database
0                  1A
1         COMMON_DATA
2              ORDER1
3  information_schema
4               mysql
5  performance_schema
6                 sys

In [191]:
show_dbs_statement = sqlalchemy.text('SELECT * FROM TEMP_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 22:51:18,395 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 22:51:18,396 INFO sqlalchemy.engine.Engine SELECT * FROM TEMP_DATA;
2023-03-12 22:51:18,396 INFO sqlalchemy.engine.Engine [cached since 1624s ago] {}
2023-03-12 22:51:18,654 INFO sqlalchemy.engine.Engine ROLLBACK

,t,PROSS1_INN_STEAM_PRSS1,FURNC1_INN_FUELS_TOTZ1,PROSS1_INN_STEAM_TOTZ1,FWTNK1_OUT_WATER_TEMP1,PROSS1_INN_STEAM_TEMP1,CTRLX1_MID_XXXXX_LOAD1,BOILR1_INN_WATER_FLOW1,BOILR1_INN_WATER_TEMP1,BOILR1_MID_DRUMX_PRSS1,BOILR1_OUT_STEAM_FLOW1,BOILR1_MID_DRUMX_LEVL1
0,2023-03-12 16:36:57,NaN,NaN,NaN,NaN,None,None,None,NaN,NaN,None,None
1,2023-03-12 17:20:56,1332723.735,47432050.0,424826470.0,376.15,None,None,None,376.15,1332723.735,None,None

In [180]:
show_dbs_statement = sqlalchemy.text('SHOW TABLES FROM ORDER1;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)
    data = result.fetchall()

list(zip(*data))[0]

2023-03-12 19:39:34,945 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:39:34,946 INFO sqlalchemy.engine.Engine SHOW TABLES FROM ORDER1;
2023-03-12 19:39:34,946 INFO sqlalchemy.engine.Engine [generated in 0.00118s] {}
2023-03-12 19:39:35,201 INFO sqlalchemy.engine.Engine ROLLBACK

('FIXED_DATA', 'META_DATA', 'TEMP_DATA')

In [68]:
meta = sqlalchemy.MetaData()
meta.reflect(bind=pool)

2023-03-12 16:24:09,935 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 16:24:09,937 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `ORDER1`
2023-03-12 16:24:09,937 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 16:24:10,196 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `FIXED_DATA`
2023-03-12 16:24:10,197 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 16:24:10,456 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `META_DATA`
2023-03-12 16:24:10,458 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 16:24:10,715 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `TEMP_DATA`
2023-03-12 16:24:10,717 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-12 16:24:11,037 INFO sqlalchemy.engine.Engine ROLLBACK

In [79]:
list(meta.tables)

['FIXED_DATA', 'META_DATA', 'TEMP_DATA']

In [76]:
[col.name for col in meta.tables['META_DATA'].columns]

['standardTag', 'description', 'dataTagId', 'unitId']

In [77]:
[col.name for col in meta.tables['FIXED_DATA'].columns]

['standardTag', 'description', 'value', 'unitId']

In [78]:
[col.name for col in meta.tables['TEMP_DATA'].columns]

['t',
 'PROSS1_INN_STEAM_PRSS1',
 'FURNC1_INN_FUELS_TOTZ1',
 'PROSS1_INN_STEAM_TOTZ1',
 'FWTNK1_OUT_WATER_TEMP1',
 'PROSS1_INN_STEAM_TEMP1',
 'CTRLX1_MID_XXXXX_LOAD1',
 'BOILR1_INN_WATER_FLOW1',
 'BOILR1_INN_WATER_TEMP1',
 'BOILR1_MID_DRUMX_PRSS1',
 'BOILR1_OUT_STEAM_FLOW1',
 'BOILR1_MID_DRUMX_LEVL1']

In [169]:
show_dbs_statement = sqlalchemy.text('DESC TEMP_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 19:34:55,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:34:55,598 INFO sqlalchemy.engine.Engine DESC TEMP_DATA;
2023-03-12 19:34:55,599 INFO sqlalchemy.engine.Engine [generated in 0.00207s] {}
2023-03-12 19:34:55,957 INFO sqlalchemy.engine.Engine ROLLBACK

                     Field      Type Null  Key Default Extra
0                        t  datetime   NO  PRI    None
1   PROSS1_INN_STEAM_PRSS1    double  YES         None
2   FURNC1_INN_FUELS_TOTZ1    double  YES         None
3   PROSS1_INN_STEAM_TOTZ1    double  YES         None
4   FWTNK1_OUT_WATER_TEMP1    double  YES         None
5   PROSS1_INN_STEAM_TEMP1    double  YES         None
6   CTRLX1_MID_XXXXX_LOAD1    double  YES         None
7   BOILR1_INN_WATER_FLOW1    double  YES         None
8   BOILR1_INN_WATER_TEMP1    double  YES         None
9   BOILR1_MID_DRUMX_PRSS1    double  YES         None
10  BOILR1_OUT_STEAM_FLOW1    double  YES         None
11  BOILR1_MID_DRUMX_LEVL1    double  YES         None

In [21]:
show_dbs_statement = sqlalchemy.text('DESC FIXED_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 01:33:43,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 01:33:43,813 INFO sqlalchemy.engine.Engine DESC FIXED_DATA;
2023-03-12 01:33:43,815 INFO sqlalchemy.engine.Engine [generated in 0.00318s] {}
2023-03-12 01:33:44,080 INFO sqlalchemy.engine.Engine ROLLBACK

         Field         Type Null  Key Default Extra
0  standardTag  varchar(30)   NO  PRI    None
1  description         text  YES         None
2        value       double  YES         None
3       unitId          int  YES         None

In [22]:
show_dbs_statement = sqlalchemy.text('DESC TEMP_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 01:34:04,956 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 01:34:04,958 INFO sqlalchemy.engine.Engine DESC TEMP_DATA;
2023-03-12 01:34:04,960 INFO sqlalchemy.engine.Engine [generated in 0.00316s] {}
2023-03-12 01:34:05,523 INFO sqlalchemy.engine.Engine ROLLBACK

                     Field      Type Null  Key Default Extra
0                        t  datetime   NO  PRI    None
1   PROSS1_INN_STEAM_PRSS1    double  YES         None
2   FURNC1_INN_FUELS_TOTZ1    double  YES         None
3   PROSS1_INN_STEAM_TOTZ1    double  YES         None
4   FWTNK1_OUT_WATER_TEMP1    double  YES         None
5   PROSS1_INN_STEAM_TEMP1    double  YES         None
6   CTRLX1_MID_XXXXX_LOAD1    double  YES         None
7   BOILR1_INN_WATER_FLOW1    double  YES         None
8   BOILR1_INN_WATER_TEMP1    double  YES         None
9   BOILR1_MID_DRUMX_PRSS1    double  YES         None
10  BOILR1_OUT_STEAM_FLOW1    double  YES         None
11  BOILR1_MID_DRUMX_LEVL1    double  YES         None

In [181]:
show_dbs_statement = sqlalchemy.text('SELECT * FROM META_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 19:39:45,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:39:45,522 INFO sqlalchemy.engine.Engine SELECT * FROM META_DATA;
2023-03-12 19:39:45,523 INFO sqlalchemy.engine.Engine [generated in 0.00121s] {}
2023-03-12 19:39:45,832 INFO sqlalchemy.engine.Engine ROLLBACK

,standardTag,description,dataTagId,unitId
0,BOILR1_INN_WATER_FLOW1,Feed water to boiler -- mass flow rate,FEED_WATER_FLOW,3
1,BOILR1_INN_WATER_TEMP1,Feed water to boiler -- temperature,TE1_5_SCALE_PV,7
2,BOILR1_MID_DRUMX_LEVL1,Boiler drum level transmitter output,LT2_4_SCALE_PV,1
3,BOILR1_MID_DRUMX_PRSS1,Boiler tank pressure,PT2_7_SCALE_PV,2
4,BOILR1_OUT_STEAM_FLOW1,Boiler drum steam-out mass flow rate,FT2_14A_SCALE_PV,3
5,CTRLX1_MID_XXXXX_LOAD1,System Load,BOILER_LOAD,1
6,FURNC1_INN_FUELS_TOTZ1,Furnace Inlet Totalized Fuel,TOTALISE_FUEL_FLOW,11
7,FWTNK1_OUT_WATER_TEMP1,Process Outlet/Make up Water Temperature,TE1_5_SCALE_PV,7
8,PROSS1_INN_STEAM_PRSS1,Process Inlet Steam Pressure,PT2_7_SCALE_PV,2
9,PROSS1_INN_STEAM_TEMP1,Process Inlet Exit Steam Temperature,TE2_8_SCALE_PV,7
10,PROSS1_INN_STEAM_TOTZ1,Process Inlet Totalized Steam,TOTAL_STEAM,11

In [184]:
show_dbs_statement = sqlalchemy.text('SELECT * FROM FIXED_DATA;')
with pool.connect() as db_conn:
    # insert into database
    result = db_conn.execute(show_dbs_statement)

    keys = result.keys()
    data = result.fetchall()

    resultDict = dict(zip(keys, zip(*data)))

pd.DataFrame(resultDict)

2023-03-12 19:49:44,878 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:49:44,879 INFO sqlalchemy.engine.Engine SELECT * FROM FIXED_DATA;
2023-03-12 19:49:44,880 INFO sqlalchemy.engine.Engine [cached since 595.5s ago] {}
2023-03-12 19:49:45,134 INFO sqlalchemy.engine.Engine ROLLBACK

,standardTag,description,value,unitId
0,DREFF1_MID_RLAVG_TIME1,Direct Efficiency Averaging Time Window,60.000000,8
1,FURNC1_INN_FUELS_HGCV1,Gross calorific value of fuel in use,3898.000000,10
2,FURNC1_INN_FUELS_HNCV1,Net calorific value of fuel in use,3620.000000,10
3,HEATX1_MID_XXXXX_COFW4,Heat Transfer Efficiency,0.833000,1
4,HEATX1_MID_XXXXX_COFW5,Coefficiency W5 - Load vs X_F,0.416000,1
5,HEATX1_MID_XXXXX_COFW6,Coefficiency W6 - Load vs X_F,0.105000,1
6,HEATX1_MID_XXXXX_COFW7,Coefficiency W7 - Load vs X_F,0.053000,1
7,HYDRO1_MID_DNCMR_AREA1,Area of downcomer cross section,0.032283,1
8,HYDRO1_MID_DNCMR_CFRN1,dimensionless friction coefficienct Eq 16@Astr...,2333.807750,1
9,HYDRO1_MID_DNCMR_VOLM1,Volume of downcomer,0.326800,1
10,HYDRO1_MID_FTUBE_NMBR1,Number of fire-tubes inside drum,194.000000,1
11,HYDRO1_MID_FTUBE_ORAD1,outer radius of fire-tubes inside drum,0.038100,1
12,HYDRO1_MID_METAL_SPHT1,Specific heat of metal--carbon-steel,490.000000,1
13,HYDRO1_MID_RISER_VOLM1,Volume of riser + MPA,3.152170,1
14,HYDRO1_MID_SDRUM_IRAD1,inner radius of drum,1.059000,1
15,HYDRO1_MID_SDRUM_LCSW1,Distance of boiler drum LC switch bore from dr...,0.405000,1
16,HYDRO1_MID_SDRUM_LCSW2,Distance between boiler drum LC switch bores,0.216000,1
17,HYDRO1_MID_SDRUM_MASS1,mass of metal part of drum,13248.000000,1
18,HYDRO1_MID_SDRUM_ORAD1,inner length of drum,5.434000,1
19,HYDRO1_MID_WATER_TNSN1,Surface tension of water,0.065000,1
20,HYDRO1_MID_XXXXX_COFW0,k_dc vs alpha_r quadratic coefficient,1.000000,1
21,HYDRO1_MID_XXXXX_COFW8,k_dc vs alpha_r quadratic constant,1.000000,1
22,HYDRO1_MID_XXXXX_COFW9,k_dc vs alpha_r quadratic coefficient of linea...,1.000000,1
23,HYDRO1_MID_XXXXX_TSTP1,Time Step for predictions - hydro model [seconds],1.000000,1
24,SCOMB1_MID_FUELS_COFW1,Fuel profile constant term,1.002000,1
25,SCOMB1_MID_FUELS_COFW2,Fuel profile coefficient of exponential term,0.981000,1
26,SCOMB1_MID_FUELS_COFW3,Fuel profile coefficient of timestep,0.001210,1

In [119]:
# insertMetaDataStatement = sqlalchemy.text('INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (:standardTag, :description, :dataTagId, :unitId) ON DUPLICATE KEY UPDATE description=:description, dataTagId=:dataTagId, unitId=:unitId;')
# with pool.connect() as db_conn:
#     # insert into database
#     for record in metaData:
#         db_conn.execute(insertMetaDataStatement, parameters=record)
#     db_conn.commit()

2023-03-12 18:44:40,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 18:44:40,881 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:40,882 INFO sqlalchemy.engine.Engine [generated in 0.00153s] {'standardTag': 'PROSS1_INN_STEAM_PRSS1', 'description': 'Process Inlet Steam Pressure', 'dataTagId': 'PT2_7_SCALE_PV', 'unitId': 2}
2023-03-12 18:44:41,137 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:41,138 INFO sqlalchemy.engine.Engine [cached since 0.2582s ago] {'standardTag': 'FURNC1_INN_FUELS_TOTZ1', 'description': 'Furnace Inlet Totalized Fuel', 'dataTagId': 'TOTALISE_FUEL_FLOW', 'unitId': 11}
2023-03-12 18:44:41,392 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:41,393 INFO sqlalchemy.engine.Engine [cached since 0.5129s ago] {'standardTag': 'PROSS1_INN_STEAM_TOTZ1', 'description': 'Process Inlet Totalized Steam', 'dataTagId': 'TOTAL_STEAM', 'unitId': 11}
2023-03-12 18:44:41,649 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:41,650 INFO sqlalchemy.engine.Engine [cached since 0.7707s ago] {'standardTag': 'FWTNK1_OUT_WATER_TEMP1', 'description': 'Process Outlet/Make up Water Temperature', 'dataTagId': 'TE1_5_SCALE_PV', 'unitId': 7}
2023-03-12 18:44:41,906 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:41,907 INFO sqlalchemy.engine.Engine [cached since 1.027s ago] {'standardTag': 'PROSS1_INN_STEAM_TEMP1', 'description': 'Process Inlet Exit Steam Temperature', 'dataTagId': 'TE2_8_SCALE_PV', 'unitId': 7}
2023-03-12 18:44:42,162 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:42,163 INFO sqlalchemy.engine.Engine [cached since 1.283s ago] {'standardTag': 'CTRLX1_MID_XXXXX_LOAD1', 'description': 'System Load', 'dataTagId': 'BOILER_LOAD', 'unitId': 1}
2023-03-12 18:44:42,418 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:42,419 INFO sqlalchemy.engine.Engine [cached since 1.539s ago] {'standardTag': 'BOILR1_INN_WATER_FLOW1', 'description': 'Feed water to boiler -- mass flow rate', 'dataTagId': 'FEED_WATER_FLOW', 'unitId': 3}
2023-03-12 18:44:42,674 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:42,676 INFO sqlalchemy.engine.Engine [cached since 1.796s ago] {'standardTag': 'BOILR1_INN_WATER_TEMP1', 'description': 'Feed water to boiler -- temperature', 'dataTagId': 'TE1_5_SCALE_PV', 'unitId': 7}
2023-03-12 18:44:42,930 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:42,932 INFO sqlalchemy.engine.Engine [cached since 2.052s ago] {'standardTag': 'BOILR1_MID_DRUMX_PRSS1', 'description': 'Boiler tank pressure', 'dataTagId': 'PT2_7_SCALE_PV', 'unitId': 2}
2023-03-12 18:44:43,186 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:43,187 INFO sqlalchemy.engine.Engine [cached since 2.308s ago] {'standardTag': 'BOILR1_OUT_STEAM_FLOW1', 'description': 'Boiler drum steam-out mass flow rate', 'dataTagId': 'FT2_14A_SCALE_PV', 'unitId': 3}
2023-03-12 18:44:43,535 INFO sqlalchemy.engine.Engine INSERT INTO META_DATA (standardTag, description, dataTagId, unitId) VALUES (%(standardTag)s, %(description)s, %(dataTagId)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, dataTagId=%(dataTagId)s, unitId=%(unitId)s;
2023-03-12 18:44:43,536 INFO sqlalchemy.engine.Engine [cached since 2.657s ago] {'standardTag': 'BOILR1_MID_DRUMX_LEVL1', 'description': 'Boiler drum level transmitter output', 'dataTagId': 'LT2_4_SCALE_PV', 'unitId': 1}
2023-03-12 18:44:43,802 INFO sqlalchemy.engine.Engine COMMIT

In [172]:
mystr = 'INSERT INTO FIXED_DATA (standardTag, description, dataTagId, unitId) VALUES (:standardTag, :description, :dataTagId, :unitId) ON DUPLICATE KEY UPDATE description=:description, dataTagId=:dataTagId, unitId=:unitId;'

print(mystr.replace('dataTagId', 'value'))

INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (:standardTag, :description, :value, :unitId) ON DUPLICATE KEY UPDATE description=:description, value=:value, unitId=:unitId;

In [173]:
# insertFixedDataStatement = sqlalchemy.text('INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (:standardTag, :description, :value, :unitId) ON DUPLICATE KEY UPDATE description=:description, value=:value, unitId=:unitId;')
# with pool.connect() as db_conn:
#     # insert into database
#     for record in fixedData:
#         db_conn.execute(insertFixedDataStatement, parameters=record)
#     db_conn.commit()

2023-03-12 19:37:46,363 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-12 19:37:46,364 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:46,365 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {'standardTag': 'DREFF1_MID_RLAVG_TIME1', 'description': 'Direct Efficiency Averaging Time Window', 'value': 60.0, 'unitId': 8}
2023-03-12 19:37:46,623 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:46,624 INFO sqlalchemy.engine.Engine [cached since 0.2606s ago] {'standardTag': 'FURNC1_INN_FUELS_HGCV1', 'description': 'Gross calorific value of fuel in use', 'value': 3898.0, 'unitId': 10}
2023-03-12 19:37:46,882 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:46,884 INFO sqlalchemy.engine.Engine [cached since 0.5201s ago] {'standardTag': 'FURNC1_INN_FUELS_HNCV1', 'description': 'Net calorific value of fuel in use', 'value': 3620.0, 'unitId': 10}
2023-03-12 19:37:47,143 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:47,144 INFO sqlalchemy.engine.Engine [cached since 0.781s ago] {'standardTag': 'SCOMB1_MID_FUELS_COFW1', 'description': 'Fuel profile constant term', 'value': 1.002, 'unitId': 1}
2023-03-12 19:37:47,404 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:47,406 INFO sqlalchemy.engine.Engine [cached since 1.043s ago] {'standardTag': 'SCOMB1_MID_FUELS_COFW2', 'description': 'Fuel profile coefficient of exponential term', 'value': 0.981, 'unitId': 1}
2023-03-12 19:37:47,666 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:47,666 INFO sqlalchemy.engine.Engine [cached since 1.303s ago] {'standardTag': 'SCOMB1_MID_FUELS_COFW3', 'description': 'Fuel profile coefficient of timestep', 'value': 0.00121, 'unitId': 1}
2023-03-12 19:37:47,925 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:47,926 INFO sqlalchemy.engine.Engine [cached since 1.563s ago] {'standardTag': 'HEATX1_MID_XXXXX_COFW4', 'description': 'Heat Transfer Efficiency', 'value': 0.833, 'unitId': 1}
2023-03-12 19:37:48,188 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:48,190 INFO sqlalchemy.engine.Engine [cached since 1.826s ago] {'standardTag': 'HEATX1_MID_XXXXX_COFW5', 'description': 'Coefficiency W5 - Load vs X_F', 'value': 0.416, 'unitId': 1}
2023-03-12 19:37:48,449 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:48,450 INFO sqlalchemy.engine.Engine [cached since 2.087s ago] {'standardTag': 'HEATX1_MID_XXXXX_COFW6', 'description': 'Coefficiency W6 - Load vs X_F', 'value': 0.105, 'unitId': 1}
2023-03-12 19:37:48,708 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:48,708 INFO sqlalchemy.engine.Engine [cached since 2.346s ago] {'standardTag': 'HEATX1_MID_XXXXX_COFW7', 'description': 'Coefficiency W7 - Load vs X_F', 'value': 0.053, 'unitId': 1}
2023-03-12 19:37:48,967 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:48,967 INFO sqlalchemy.engine.Engine [cached since 2.604s ago] {'standardTag': 'HYDRO1_MID_METAL_SPHT1', 'description': 'Specific heat of metal--carbon-steel', 'value': 490.0, 'unitId': 1}
2023-03-12 19:37:49,225 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:49,226 INFO sqlalchemy.engine.Engine [cached since 2.863s ago] {'standardTag': 'HYDRO1_MID_RISER_VOLM1', 'description': 'Volume of riser + MPA', 'value': 3.15216983192838, 'unitId': 1}
2023-03-12 19:37:49,487 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:49,488 INFO sqlalchemy.engine.Engine [cached since 3.125s ago] {'standardTag': 'HYDRO1_MID_DNCMR_VOLM1', 'description': 'Volume of downcomer', 'value': 0.3268, 'unitId': 1}
2023-03-12 19:37:49,748 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:49,749 INFO sqlalchemy.engine.Engine [cached since 3.386s ago] {'standardTag': 'HYDRO1_MID_DNCMR_AREA1', 'description': 'Area of downcomer cross section', 'value': 0.03228261937823305, 'unitId': 1}
2023-03-12 19:37:50,008 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:50,009 INFO sqlalchemy.engine.Engine [cached since 3.646s ago] {'standardTag': 'HYDRO1_MID_SDRUM_IRAD1', 'description': 'inner radius of drum', 'value': 1.059, 'unitId': 1}
2023-03-12 19:37:50,269 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:50,270 INFO sqlalchemy.engine.Engine [cached since 3.906s ago] {'standardTag': 'HYDRO1_MID_SDRUM_ORAD1', 'description': 'inner length of drum', 'value': 5.434, 'unitId': 1}
2023-03-12 19:37:50,529 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:50,531 INFO sqlalchemy.engine.Engine [cached since 4.168s ago] {'standardTag': 'HYDRO1_MID_SDRUM_MASS1', 'description': 'mass of metal part of drum', 'value': 13248.0, 'unitId': 1}
2023-03-12 19:37:50,792 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:50,792 INFO sqlalchemy.engine.Engine [cached since 4.43s ago] {'standardTag': 'HYDRO1_MID_FTUBE_ORAD1', 'description': 'outer radius of fire-tubes inside drum', 'value': 0.0381, 'unitId': 1}
2023-03-12 19:37:51,052 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:51,053 INFO sqlalchemy.engine.Engine [cached since 4.69s ago] {'standardTag': 'HYDRO1_MID_FTUBE_NMBR1', 'description': 'Number of fire-tubes inside drum', 'value': 194.0, 'unitId': 1}
2023-03-12 19:37:51,308 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:51,313 INFO sqlalchemy.engine.Engine [cached since 4.95s ago] {'standardTag': 'HYDRO1_MID_WATER_TNSN1', 'description': 'Surface tension of water', 'value': 0.065, 'unitId': 1}
2023-03-12 19:37:51,573 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:51,574 INFO sqlalchemy.engine.Engine [cached since 5.211s ago] {'standardTag': 'HYDRO1_MID_SDRUM_LCSW1', 'description': 'Distance of boiler drum LC switch bore from drum center-line', 'value': 0.405, 'unitId': 1}
2023-03-12 19:37:51,833 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:51,835 INFO sqlalchemy.engine.Engine [cached since 5.472s ago] {'standardTag': 'HYDRO1_MID_SDRUM_LCSW2', 'description': 'Distance between boiler drum LC switch bores', 'value': 0.216, 'unitId': 1}
2023-03-12 19:37:52,095 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:52,096 INFO sqlalchemy.engine.Engine [cached since 5.732s ago] {'standardTag': 'HYDRO1_MID_DNCMR_CFRN1', 'description': 'dimensionless friction coefficienct Eq 16@Astrom-Bell-1998', 'value': 2333.80775, 'unitId': 1}
2023-03-12 19:37:52,356 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:52,357 INFO sqlalchemy.engine.Engine [cached since 5.993s ago] {'standardTag': 'HYDRO1_MID_XXXXX_TSTP1', 'description': 'Time Step for predictions - hydro model [seconds]', 'value': 1.0, 'unitId': 1}
2023-03-12 19:37:52,614 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:52,615 INFO sqlalchemy.engine.Engine [cached since 6.252s ago] {'standardTag': 'HYDRO1_MID_XXXXX_COFW8', 'description': 'k_dc vs alpha_r quadratic constant', 'value': 1.0, 'unitId': 1}
2023-03-12 19:37:52,881 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:52,882 INFO sqlalchemy.engine.Engine [cached since 6.519s ago] {'standardTag': 'HYDRO1_MID_XXXXX_COFW9', 'description': 'k_dc vs alpha_r quadratic coefficient of linear term', 'value': 1.0, 'unitId': 1}
2023-03-12 19:37:53,141 INFO sqlalchemy.engine.Engine INSERT INTO FIXED_DATA (standardTag, description, value, unitId) VALUES (%(standardTag)s, %(description)s, %(value)s, %(unitId)s) ON DUPLICATE KEY UPDATE description=%(description)s, value=%(value)s, unitId=%(unitId)s;
2023-03-12 19:37:53,142 INFO sqlalchemy.engine.Engine [cached since 6.779s ago] {'standardTag': 'HYDRO1_MID_XXXXX_COFW0', 'description': 'k_dc vs alpha_r quadratic coefficient', 'value': 1.0, 'unitId': 1}
2023-03-12 19:37:53,403 INFO sqlalchemy.engine.Engine COMMIT