In [1]:
import pandas as pd
info = pd.read_csv('sensitive-info.txt')
mysql_ip = info['mysql_ip'][0]

print(mysql_ip)

34.171.255.53

In [3]:
import mysql.connector
config = {
    'user': 'root',
    'password': 'Ym#[>~=Bf:1o.ka)',
    'host': mysql_ip
}
cnx = mysql.connector.connect(**config)

cnx

In [22]:
dbCursor = cnx.cursor()

In [25]:
query = """SHOW DATABASES;"""

dbCursor.execute(query)
data = dbCursor.fetchall()

In [26]:
columns = ['Database_Name', 'Database Size in MB']

df = pd.DataFrame(data)
df.columns = columns

df

        Database_Name Database Size in MB
0               mysql              4.4688
1  information_schema              0.0000
2  performance_schema              0.0000
3                 sys              0.0156

In [4]:
cnx.close()